form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -265px;
    background-color: #F7FFE0;
    /* #F2EFC7; */
    width: 50%;
    margin-left: 25%;
    border-radius: 5%;
}

.formLabel {
    margin: 20px 0px;
    /* 0px 50px 30px; */
    /* background-color: #F7FFE0; */
    /* padding: 10px 100px; */
    margin-bottom: 30px;
    font-size: 20px;
    width: 500px; 
    color: black;
    /* border-radius: 10%; */
}

select, button {
    font-size: 20px;
}

select {
    width: 300px;
    background-color: #50587c; 
    color: #FFEEE2;
}

button {
    margin: 20px 
    10px;
    padding: 5px 30px;
    background-color: #F06449;
    color: #F7FFE0;
}

button:hover {
    background-color: #50587C;
    transition: .5s all ease;
}

.selectionButton {
    max-width: 500px;
    text-align: center;
    padding: 5px;
}

@media(max-width: 600px) {
    .formLabel {
        max-width: 400px;
    }

    
} 
