form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -240px;
    /* background-color: rgb(215, 215, 239); */
    /* width: 50%; */
}

.formLabel {
    margin: 0px 50px 50px ;
    background-color: rgb(215, 215, 239);
    padding: 2px 5px 15px;
    font-size: 20px;
    width: 500px; 
}

select, button {
    background-color: rgb(237, 234, 233);
    font-size: 20px;
}

select {
    width: 300px;
    
}

button {
    margin: 20px 
    10px;
    padding: 5px 30px;
}

button:hover {
    background-color: rgb(237, 208, 199);
    transition: .5s all ease;
}

.selectionButton {
    max-width: 500px;
    text-align: center;
    padding: 5px;
}

@media(max-width: 600px) {
    .formLabel {
        max-width: 400px;
    }
} 
