.photos {
    list-style-type: none;
}

.recipesContainer {
    display: flex;
    justify-content: left;
    flex-flow: row-reverse;
    align-items: center;
    /* margin-top: 80px; */
}

.text {
    text-align: left;
    text-decoration: none;
}

.text a {
    text-decoration: none;
    background-color: #F2EFC7;
    color: black;
    padding: 3px 15px;
    border-radius: 10%;    
}

.photos {
    margin-top: 100px;
}

.recipesContainer img {
    border-radius: 50%;
    border: 10px solid #F2EFC7;
    margin: 20px 80px;
}


@media(max-width: 750px) {
    .recipesContainer {
        flex-direction: column;
        flex-flow: column-reverse;
        margin: 11% auto;
    }

    .text {
        text-align: center;
    }
}